.App {
  text-align: center;
}

.gender-ddl {
  margin-top: 20px;
}

.result {
  margin-top: 30px;
}

.find-results {
  margin-top: 40px;
}

.final-result {
  margin-top: 40px;
  font-size: calc(20px + 2vmin);
  font-weight: lighter;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.reset-results {
  margin-top: 40px;
}

.ResultBody {
  margin-top: 30px;
}

.formControlPicker {
  width: 50%;
}

.formControlGender {
  width: 50%;
}
.Title {
  background-color: #ff42a4;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: #ffffff;
  font-weight: bold;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
